# node dependencies
node_modules/

# PHP dependencies
composer.phar
composer.lock
vendor/*

# cache and logfiles
cache/
error.log

# dot file
.*
!.editorconfig
!.githooks
!.gitignore
!.scrutinizer.yml
!.travis.yml
