.navbar-dark {
  background-color: #577fbb;
}
@media (min-width: 768px) {
  main.container {
    padding-top: 30px;
  }
}

h2, h3, h4, h5 {
  color: #355FB8;
}

footer {
  border-top: 12px solid #6791C9;
  margin-top: 30px;
}
