<IfModule mod_rewrite.c>
RewriteEngine on

#current work mode
RewriteBase /gbv/

# public
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteRule ^(.*)$ index.php/$1 [L,QSA]
</IfModule>