<IfModule mod_rewrite.c>
RewriteEngine on

# adjust to wheverever application is located at (e.g. '/')
RewriteBase /format.gbv.de/

# public
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteRule ^(.*)$ index.php/$1 [L,QSA]
</IfModule>
